Header{
    width: 1035px;
    height: 55px;
    background: linear-gradient(180deg, #0FF 0%, rgba(0, 255, 255, 0.00) 100%);
    
}

aside{
    width: 220px;
    height: 220px;
    background: linear-gradient(180deg, #0FF 0%, rgba(217, 217, 217, 0.00) 100%);
}

main{
    width: 786px;
    height: 220px;
    background: linear-gradient(180deg, #0FF 0%, rgba(0, 255, 255, 0) 100%);
}

footer{
    width: 1035px;
    height: 30px;
    background: linear-gradient(180deg, #0FF 0%, rgba(0, 255, 255, 0.00) 100%);
}
